chromadb
config
datasets
faiss-cpu
fastai 
fastbook
google-api-python-client
google-cloud-aiplatform
ipykernel
langchain
matplotlib
opencv-python
pandas
pydantic
pypdf
scipy
seaborn
transformers
typing_extensions
typing-inspect
